body{
    padding: 0;
    margin: 0;
    background-color: rgb(34,34,34);
}

#ontop {
    position: fixed;
    z-index: 100;
    width: 102.3%;
    padding-top: 1%;
    padding-left: 1%;
    padding-right: 1%;
}

.share-buttons img {
	padding-left: 15%;
    padding-top: 13%;
    width: 50%;
    float: left;
    z-index: 100;
    position: relative;
}

#canvas {
    z-index: 1;
    position: absolute;
}

.mod {  
    z-index: 100; 
    cursor: pointer;
    position: absolute;
    font-size: 24px; 
}

#modal1 { 
    margin-top: 15%;
    left: 12%;
} 

#modal2 { 
    margin-top: 20%;
    left: 45%;
}

#cred {
    position: relative;
    z-index: 30;
    margin-top: 98%;
}

.story{  
    position: relative;
    z-index: 200;
    background-color: rgb(255,255,255);
    padding: 5%;
    max-width: 50%;
    display: none;
}

.btn1 {
    position: relative;
    z-index: 201;
}

