@import url(http://fonts.googleapis.com/css?family=EB+Garamond);
@import url(http://fonts.googleapis.com/css?family=Droid+Sans);


#body {
    padding: 0;
    margin: 0;
    background-color: rgb(214, 209, 193);
}

canvas {
    width: 250%;
    height: 100%;
}

p a {
    text-decoration: none;
    color: rgb(122, 202, 72);
}

p a:hover {
    color: black;
    text-decoration: none;
}

#ontop {
    position: fixed;
    z-index: 1000;
    width: 102.3%;
    padding-top: 1%;
    padding-left: 1%;
    padding-right: 1%;
}

.share-buttons img {
    padding-left: 15%;
    padding-top: 13%;
    width: 50%;
    float: left;
    z-index: 100;
    position: relative;
}

#canvas {
    z-index: 1;
    position: absolute;
}

.club {
    text-align: center;
}

#page {
    width: 55%;
    position: relative;
    float: left;
    text-align: center;
    padding-right: 0.5%;
    margin-top: 2%;
}

#page h1 {
    font-family: 'EB Garamond', serif;
    /*font-weight: bold;*/
    font-size: 550%;
    margin-top: 9%;
    
}

#sub {
    font-family: 'EB Garamond', serif;
    font-size: 180%;
    text-align: left;
    padding-right: 5%;
    padding-left: 22%;
    margin-top: -2%;
    
}

#lede {
    padding-left: 15%;
    padding-right: 15%;
    padding-top: 5%;
    padding-bottom: 5%;
    text-align: center;
    font-family: 'Droid Sans', sans-serif;
    font-size: 100%;
    
}

#cred {
    position: relative;
    text-align: left;
    margin-left: 2%;
    font-style: italic;
    font-size: 80%;
    margin-top: 32.5%;
}

.mag {
    position: absolute;
    z-index: 3;
    width: 3%;
    border-radius: 10%;
    background-color: rgba(255,255,255, 0.7);
}

.mag:hover {
    background-color: rgba(255,255,255, 0.9);
}

#first {
    left: 93%;
    margin-top: 28.5%;
}

#second {
    left: 261%;
    margin-top: 28.5%;
}

.mod {  
    z-index: 2; 
    cursor: pointer;
    position: absolute;
    font-size: 17px;
    padding: 1%;
    font-family: 'EB Garamond', serif;
    font-weight: bold;
    text-align: center;
    border-radius: 2px;
    color:rgb(34,34,34);
    background-color: rgba(255, 255, 255, 0.8);
}

.mod:hover {
    background-color: rgba(255,255,255, 0.9);
}

#modal1 { 
    margin-top: 24%;
    left: 193.5%;
    width: 16%;
} 

#moore {
    margin-top: 10%;
}

#modal2 { 
    margin-top: 25%;
    left: 70%;
    width: 13.5%;
}

#modal3 {
    margin-top: 26%;
    left: 272%;
    width: 12%;
}

#modal4 {
    margin-top: 25%;
    left: 105%;
    width: 11%;
}

#vid {
    margin-top: 3.5%;
    margin-left: 1.5%;
}

#modal5 {
    margin-top: 30%;
    left: 130%;
    width: 9%;
}

#modal6 {
    margin-top: 28%;
    left: 237%;
    width: 14%;
}

#modal7 {
    margin-top: 38%;
    left: 155.5%;
    width: 14%;
}

#pull {
    font-family: 'EB Garamond', serif;
    font-weight: bold;
    font-size: 180%;
    line-height: 100%;
    margin-left: 2.5%;
    margin-right: 2%;
    line-height: 30px;
    width: 45%;
    float: left;
}

.story {  
    position: relative;
    z-index: 200;
    background-color: rgb(255, 255, 255);
    padding-bottom: 3%;
    display: none;
    margin: 0;
    border-radius: 3%;
    position: absolute;
    color: rgb(0,0,0);
    font-family: 'Droid Sans', sans-serif;
    font-weight: bold;
    font-size: 105%;
}

.story h1 {
    font-family: 'EB Garamond', serif;
    position: relative;
    margin-top: 10%;  
    font-size: 300%; 
    text-align: left; 
}

aside {
    width: 45%;
    float: left;
}

.by {
    font-family: 'EB Garamond', serif; 
    font-size: 120%;
}

.btn {
    position: absolute;
    left: 93%;
    top: 5%;
    z-index: 201;
    border-style: none;
    background-color: rgb(255,255,255);
}

#stry1 {
    left: 180%;
    margin-top: 3%;
    width: 70%;
    height: 90%;
    padding-left: 7%;
    padding-right: 5%;
    overflow: scroll;
}

#stry2 {
    left: 60%;
    margin-top: 10%;
    width: 70%;
    height: 70%;
    padding-left: 7%;
    padding-right: 15%;
    overflow: scroll;
}

#stry3 {
    left: 215%;
    margin-top: 15%;
    width: 70%;
    height: 70%;
    padding-left: 7%;
    padding-right: 15%;
    overflow: scroll;
}

#stry4 {
    left: 88%;
    margin-top: 3.5%;
    width: 70%;
    height: 70%;
    padding-left: 7%;
    padding-right: 15%;
    overflow: scroll;
}

#stry5 {
    left: 120%;
    margin-top: 10%;
    width: 70%;
    height: 70%;
    padding-left: 7%;
    padding-right: 15%;
    overflow: scroll;
}

#stry6 {
    left: 210%;
    margin-top: 5%;
    width: 70%;
    height: 70%;
    padding-left: 7%;
    padding-right: 15%;
    overflow: scroll;
}

#bir {
    width: 60%;
    margin-left: 18.5%;
}

#shep {
    width: 45%;
    float: right;
    margin-top: 3%;
    margin-left: 3%;
}

#stry7 {
    left: 130%;
    margin-top: 5%;
    width: 70%;
    height: 70%;
    padding-left: 7%;
    padding-right: 15%;
    overflow: scroll;
}


@media screen and (max-width: 900px) {
    .share-buttons img {
        width: 25%;
        padding-top: 1%;
    } 

    #first {
        left: 88%;
        margin-top: 38%;
    }

    #second {
        left: 264%;
        margin-top: 38%;
    }

    .mod {
        font-size: 18px;
        font-weight: bold;
    }

    #modal1 { 
        margin-top: 35%;
        left: 240%;
    } 

    #modal2 { 
        margin-top: 15%;
        left: 80%;
    }

    #modal3 {
        margin-top: 30%;
        left: 275%;
    }

    #modal4 {
        margin-top: 48%;
        left: 165%;
    }

    #modal5 {
        margin-top: 34%;
        left: 130%;
    }

    #modal6 {
        margin-top: 28%;
        left: 63%;
    }

    #modal7 {
        margin-top: 31%;
        left: 190%;
    }

    #stry1 {
        left: 220%;
        margin-top: 5%;
        width: 80%;
    }

    #stry2 {
        left: 65%;
        margin-top: 6%;
        width: 80%;
    }

    #stry3 {
        margin-top: 10%;
        left: 220%;
        width: 80%;
    }

    #stry4 {
        left: 130%;
        margin-top: 10%;
        width: 95%;
        height: 80%;
    }

    #stry5 {
        left: 115%;
        margin-top: 10%;
        width: 80%;
    }

    #stry6 {
        left: 60%;
        margin-top: 10%;
        width: 80%;
        height: 80%;
    }

    #stry7 {
        left: 150%;
        margin-top: 10%;
        width: 80%;
        height: 80%;
    }
}  /* show it on small screens */


@media screen and (min-device-width: 0px) and (max-device-width: 400px) { 
    body {
        display: none;
    }    
}  /* show it on small screens */








