body {
    padding: 0;
    margin: 0;
}

canvas {
    width: 150%;
    height: 200%;
}

#ontop {
    position: fixed;
    z-index: 1000;
    width: 102.3%;
    padding-top: 1%;
    padding-left: 1%;
    padding-right: 1%;
}

.share-buttons img {
	padding-left: 15%;
    padding-top: 13%;
    width: 50%;
    float: left;
    z-index: 100;
    position: relative;
}

#canvas {
    z-index: 1;
    position: absolute;
}

.mod {  
    z-index: 2; 
    cursor: pointer;
    position: absolute;
    font-size: 24px; 
}

#modal1 { 
    margin-top: 15%;
    left: 12%;
} 

#modal2 { 
    margin-top: 20%;
    left: 60%;
}

#modal3 {
    margin-top: 100%;
    left: 80%;
}

#modal4 {
    margin-top: 40%;
    left: 100%;
}

#modal5 {
    margin-top: 65%;
    left: 90%;
}

#modal6 {
    margin-top: 75%;
    left: 15%;
}
#cred {
    position: relative;
    z-index: 30;
    display: none;
}

.story {  
    position: relative;
    z-index: 200;
    background-color: rgb(255,255,255);
    padding: 5%;
    display: none;
    margin: 0;
    border-radius: 3%;
    width: 60%;
    position: absolute;
}

.btn {
    position: relative;
    z-index: 201;
    border-style: none;
    border-radius: 5%; 
}

#stry1 {
    left: 5%;
    margin-top: 10%;
}

#stry2 {
    left: 45%;
    margin-top: 20%;
}

#stry3 {
    left: 70%;
    margin-top: 78%;
}

#stry4 {
    left: 70%;
    margin-top: 35%;
}

#stry5 {
    left: 90%;
    margin-top: 60%;
}

#stry6 {
    left: 15%;
    margin-top: 75%;
}


@media screen and (min-width: 500px) and (max-width: 995px) {
    .share-buttons img {
        width: 50%;
        padding-left: 15%;
        padding-top: 3%;
    }   

    #modal1 { 
        margin-top: 20%;
        left: 3%;
    } 

    #modal2 { 
        margin-top: 30%;
        left: 60%;
    }

    #modal3 {
        margin-top: 120%;
        left: 80%;
    }

    #modal4 {
        margin-top: 65%;
        left: 100%;
    }

    #modal5 {
        margin-top: 85%;
        left: 80%;
    }

    #modal6 {
        margin-top: 90%;
        left: 15%;
    }

    #stry1 {
        left: 5%;
        margin-top: 10%;
    }

    #stry2 {
        left: 45%;
        margin-top: 20%;
    }

    #stry3 {
        left: 65%;
        margin-top: 95%;
    }

    #stry4 {
        left: 70%;
        margin-top: 65%;
    }

    #stry5 {
        left: 70%;
        margin-top: 80%;
    }

    #stry6 {
        left: 15%;
        margin-top: 90%;
    }
}  /* show it on small screens */


@media screen and (min-device-width: 0px) and (max-device-width: 400px) { 
    #modal1 { 
        margin-top: 35%;
        left: 3%;
    } 

    #modal2 { 
        margin-top: 30%;
        left: 60%;
    }

    #modal3 {
        margin-top: 300%;
        left: 80%;
    }

    #modal4 {
        margin-top: 150%;
        left: 100%;
    }

    #modal5 {
        margin-top: 205%;
        left: 75%;
    }

    #modal6 {
        margin-top: 250%;
        left: 15%;
    }

    .story {  
        z-index: 200;
        background-color: rgb(255,255,255);
        padding: 2%;
        display: none;
        border-radius: 3%;
        width: 100%;
        position: absolute;
        font-size: 10px;
    }


    #stry1 {
        margin-top: 50%;
        left: 25%;
    }

    #stry2 {
        margin-top: 50%;
        left: 25%;
    }

    #stry3 {
        margin-top: 50%;
        left: 25%;
    }

    #stry4 {
        margin-top: 50%;
        left: 25%;
    }

    #stry5 {
        margin-top: 50%;
        left: 25%;
    }

    #stry6 {
        margin-top: 50%;
        left: 25%;
    }

    
}  /* show it on small screens */









